<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        .btn-primary {
            background-color: orangered !important;
        }

        .nav-item a:hover {
            color: orangered;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse mx-4" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img src="/assets/img/brandred.png" alt="Bootstrap" width="42" height="36">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/testimonial">Testimonial</a>
                    </li>
                </ul>
                <a class="btn btn-primary rounded border-0" href="/contact" role="button">Contact Me</a>
            </div>
        </div>
    </nav>

    <div class="d-flex mt-5 justify-content-center">
        <div class="d-flex flex-column w-50 fw-medium">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control " id="inputName" placeholder="ex. Rangga">
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="ex. name@gmail.com">
            </div>
            <div class="mb-3">
                <label for="inputPhone" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="inputPhone" placeholder="ex. 0812345678">
            </div>
            <div class="mb-3">
                <label for="inputSubject" class="form-label">Subject</label>
                <select class="form-select" aria-label="Default select example" id="inputSubject">
                    <option></option>
                    <option value="1">Fullstack Developer</option>
                    <option value="2">Frontend Developer</option>
                    <option value="3">Backend Developer</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="inputMessage" class="form-label">Message</label>
                <textarea class="form-control" id="inputMessage" rows="3"></textarea>
            </div>
            <input type="button" value="Submit" class="submit-contact w-25 " onclick="submitData()" />
        </div>
    </div>

    <script src="/assets/js/contact.js"></script>
    <!-- <script src="js/nav.js"></script> -->

</body>

</html>