body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.container {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .text-data {
    width: 450px;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    /* background-color: aqua; */
    margin-top: 40px;
    font-family: sans-serif;
}

.contact {
    background-color: black;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    width: 60px;
}

.contact .contact-btn {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download {
    margin-top: 10px;
}

.cv-btn {
    text-decoration: none;
    color: black;
}

.logo .link {
    text-decoration: none;
    background-color: black;
    margin: 0px 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.image {
    width: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
    margin-bottom: 30px;
    border-radius: 10px;
}

.edit-image {
    width: 100%;

    border-radius: 10px;
}

.text {
    text-align: center;
    margin: 5px;

}