<html>

<head>
    <title>Personal Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
        }

        .btn-primary {
            background-color: orangered !important;
        }

        .nav-item a:hover {
            color: orangered;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse mx-4" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img src="/assets/img/brandred.png" alt="Bootstrap" width="42" height="36">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand fs-4" href="/blog">Blog</a>
                    </li>
                </ul>
                <a class="navbar-brand ms-2 " href="/register">Register</a>
                <a class="navbar-brand ms-2 fw-bold" href="/login">Login</a>
                <a class="btn btn-primary rounded border-0 ms-2" href="/contact" role="button">Contact Me</a>
            </div>
        </div>
    </nav>

    {{#if messages.danger}}
    <div class="alert alert-danger" role="alert">
        <div class="container">
            {{messages.danger}}
        </div>
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="alert alert-success" role="alert">
        <div class="container">
            {{messages.success}}
        </div>
    </div>
    {{/if}}

    <div class="container d-flex justify-content-center">
        <div class="w-50">
            <h3 class="text-center mt-5">LOGIN TO YOUR ACCOUNT</h3>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-dark mt-3 px-5 ">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>